Repository beriloqueiroz/bid-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix"
  ],
  "*.{css,scss}": [
    "npx stylelint '**/*.{scss,css}' --fix"
  ],
  "*": [
    "git add"
  ]
}

husky
  package.json
Due: none

ajuste do repositorio
  .eslintrc
  .stylelintrc
  src/components/about/style.module.scss
  src/components/footer/index.tsx
  src/components/footer/style.module.scss
  src/components/logo/style.module.scss
  src/styles/rastreio.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajuste do repositorio
  src/components/burgerButton/style.module.scss
  src/components/button/style.module.scss
  src/components/contactForm/style.module.scss
  src/components/header/style.module.scss
  src/components/inputForm/style.module.scss
  src/components/layout/style.module.scss
  src/components/presentation/style.module.scss
  src/components/privacyModal/style.module.scss
  src/components/sideBar/style.module.scss
  src/components/toggleButton/style.module.scss
  src/components/whatsappButton/style.module.scss
  src/styles/global-old.css
  src/styles/globals.css
  src/styles/painel-bid.module.scss
  src/styles/painel-cliente.module.scss
  src/styles/privacy.module.scss
Due: npx stylelint '**/*.{scss,css}' --fix

correção do link de política de privacidade para incio da página
  src/components/footer/index.tsx
  src/components/privacyModal/index.tsx
  src/pages/politica-privacidade-cookies.tsx
  src/styles/privacy.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajustando alguns arquivos
  src/components/about/index.tsx
  src/components/toggleButton/style.module.scss
  src/pages/index.tsx
  src/pages/painel-bid.tsx
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajuste de formulário
  src/components/contactForm/index.tsx
  src/components/contactForm/style.module.scss
  src/pages/painel-cliente.tsx
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajuste nos links
  src/components/about/index.tsx
  src/components/contactForm/index.tsx
  src/pages/index.tsx
Due: eslint --fix

ajuste nos elementos
  .eslintrc
  src/components/header/index.tsx
  src/components/sideBar/index.tsx
  src/lib/types/TaskStatus.ts
  src/pages/rastreio.tsx
Due: eslint --fix

ajustes de refatoração e fix
  src/components/painel/login/index.tsx
  src/pages/painel-cliente.tsx
  src/styles/globals.css
  src/styles/painel-cliente.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajustes de de relatorio
  public/model.xlsx
  src/components/about/index.tsx
  src/components/presentation/index.tsx
  src/lib/types/TaskStatus.ts
  src/pages/painel-cliente.tsx
Due: eslint --fix

ajustes de hora
  TODO.MD
  public/model.csv
  public/model.xlsx
  src/components/toggleButton/index.tsx
  src/lib/deliverySystem/implementations/deliforce.ts
  src/lib/util/parse-form.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/painel-cliente.tsx
  src/pages/rastreio.tsx
Due: eslint --fix

ajustes de hora
  TODO.MD
  src/components/painel/login/index.tsx
  src/lib/deliverySystem/implementations/deliforce.ts
  src/lib/user/login/implementations/byMysql.ts
  src/pages/api/authenticate.ts
  src/pages/api/getInfosByCep.ts
  src/pages/api/login.ts
  src/pages/api/logout.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
Due: eslint --fix

ajustes de db
  src/components/painel/login/index.tsx
  src/lib/account/IAccountService.ts
  src/lib/account/implementations/myAccountSQLImplementation.ts
  src/lib/task/IDeliveryService.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/SendTask.ts
  src/lib/types/TaskConfig.ts
  src/lib/user/login/ILogin.ts
  src/lib/user/login/implementations/myLoginSQLImplementation.ts
  src/pages/api/authenticate.ts
  src/pages/api/getAccounts.ts
  src/pages/api/sendTask.ts
  src/pages/api/tracking.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
Due: eslint --fix

ajuste de regras de negocio
  TODO.MD
  TODO.md
  src/components/error/index.tsx
  src/components/error/style.module.scss
  src/components/inputForm/index.tsx
  src/components/inputForm/props.ts
  src/components/inputForm/style.module.scss
  src/components/layout/index.tsx
  src/components/login/index.tsx
  src/components/login/style.module.scss
  src/lib/account/IAccountInfosService.ts
  src/lib/account/IAccountService.ts
  src/lib/account/implementations/accountInfosSQL.ts
  src/lib/redux/state/initial.ts
  src/lib/task/IDeliveryService.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/AccountInfo.ts
  src/lib/types/Client.ts
  src/lib/types/PriceConfig.ts
  src/lib/user/login/ILogin.ts
  src/lib/user/login/implementations/myLoginSQL.ts
  src/pages/api/authenticate.ts
  src/pages/api/getAccountsOptionsInfos.ts
  src/pages/api/sendTask.ts
  src/pages/api/tracking.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
  src/styles/painel-bid.module.scss
  src/styles/painel-cliente.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

incluindo midllewares
  src/components/layout/index.tsx
  src/lib/helpers/ceps.ts
  src/lib/helpers/convertions.ts
  src/lib/helpers/parse-form.ts
  src/lib/helpers/rules.ts
  src/lib/middlewares/authenticate.ts
  src/pages/api/getInfosByCep.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
Due: eslint --fix

retirando middleware
  src/components/login/index.tsx
  src/lib/middlewares/authenticate.ts
  src/lib/redux/state/initial.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/AuthResponse.ts
  src/lib/user/login/ILogin.ts
  src/lib/user/login/implementations/myLoginSQL.ts
  src/pages/api/logout.ts
  src/pages/api/sendTask.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
Due: eslint --fix

rastreio ajustado
  src/lib/task/implementations/deliforce.ts
  src/pages/rastreio.tsx
Due: eslint --fix

rastreio ajustado data
  src/lib/task/implementations/deliforce.ts
Due: eslint --fix

rastreio ajustado data sub 3
  src/lib/task/implementations/deliforce.ts
  src/pages/rastreio.tsx
Due: eslint --fix

rastreio ajustado data sub 3
  public/model_admin.csv
  src/lib/task/helper.ts
  src/lib/task/implementations/deliforce.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
Due: eslint --fix

rastreio ajustado data sub 3
  src/lib/task/implementations/deliforce.ts
Due: eslint --fix

em lote xlsx user
  TODO.md
  package-lock.json
  package.json
  public/model.xlsx
  src/components/login/index.tsx
  src/lib/helpers/rules.ts
  src/lib/helpers/xlsx.ts
  src/pages/api/getAccountInfos.ts
  src/pages/api/login.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
  src/pages/rastreio.tsx
  src/styles/painel-cliente.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

em lote xlsx user excel
  src/pages/painel-cliente.tsx
Due: eslint --fix

em lote xlsx user excel admin
  public/model.csv
  public/model_admin.csv
  public/model_admin.xlsx
  src/lib/mail/IMailService.ts
Due: eslint --fix

em lote xlsx user excel admin
  src/lib/mail/implementations/MailNodeMailer.ts
  src/pages/api/sendTask.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
Due: eslint --fix

ajustando implementacao do account
  src/lib/account/implementations/accountInfosSQL.ts
Due: eslint --fix

ajustando implementacao
  src/components/about/index.tsx
  src/components/contactForm/index.tsx
  src/components/contactForm/style.module.scss
  src/components/error/style.module.scss
  src/components/login/index.tsx
  src/components/presentation/index.tsx
  src/lib/task/implementations/deliforce.ts
  src/pages/api/sendTask.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
  src/pages/rastreio.tsx
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajustando implementacao
  src/pages/painel-cliente.tsx
Due: eslint --fix

ajustando service de busca dos ceps
  src/lib/account/implementations/accountInfosSQL.ts
  src/lib/cep/ICepsInfoService.ts
  src/lib/cep/implementations/cepByFile.ts
  src/lib/cep/implementations/cepBySQL.ts
  src/lib/types/CepInfo.ts
  src/pages/api/getInfosByCep.ts
Due: eslint --fix

ajustando service de busca dos ceps
  src/pages/painel-cliente.tsx
Due: eslint --fix

sql migration
  src/lib/db/mysql/u869641756_bid_db.sql
Due: none

atualizando todo
  TODO.md
Due: none

ajustes de bugs
  public/model_admin.xlsx
  src/lib/account/IAccountInfosService.ts
  src/lib/account/implementations/accountInfosSQL.ts
  src/lib/helpers/rules.ts
  src/lib/helpers/xlsx.ts
  src/lib/task/helper.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/AccountInfo.ts
  src/pages/api/upload.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-bid.tsx
  src/pages/painel-cliente.tsx
  src/styles/painel-cliente.module.scss
Due: eslint --fix, npx stylelint '**/*.{scss,css}' --fix

ajuste de abas
  src/lib/helpers/xlsx.ts
  src/lib/task/implementations/deliforce.ts
  src/pages/api/sendTask.ts
  src/pages/api/uploadDirect.ts
Due: eslint --fix

ajustando rastreio e valor do driver
  public/model_admin.xlsx
  src/lib/account/implementations/accountInfosSQL.ts
  src/lib/helpers/rules.ts
  src/lib/redux/state/initial.ts
  src/lib/task/helper.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/PriceConfig.ts
  src/lib/types/SendTask.ts
  src/pages/api/sendTask.ts
  src/pages/api/tracking.ts
  src/pages/api/uploadDirect.ts
  src/pages/painel-cliente.tsx
Due: eslint --fix

ajustando rastreio e valor do driver
  src/pages/api/upload.ts
Due: eslint --fix

ajustando rastreio e valor do driver
  public/model_admin.xlsx
  src/lib/task/helper.ts
  src/lib/task/implementations/deliforce.ts
  src/lib/types/SendTask.ts
  src/pages/api/uploadDirect.ts
Due: eslint --fix

ajustando rastreio e valor do driver
  public/model_admin.xlsx
Due: none
